sqlalchemy
attrs==19.1.0
blis==0.2.4
boto3==1.9.171
botocore==1.12.171
certifi==2019.6.16
chardet==3.0.4
cycler==0.10.0
cymem==2.0.2
Click==7.0
docutils==0.14
fastai==1.0.53.post3
fastprogress==0.1.21
Flask==1.0.3
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.2
jsonschema==3.0.1
kiwisolver==1.1.0
MarkupSafe==1.1.1
murmurhash==1.0.2
numexpr==2.6.9
numpy==1.16.4
packaging==19.0
pandas==0.24.2
Pillow==6.0.0
plac==0.9.6
preshed==2.0.1
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
requests==2.22.0
s3transfer==0.2.1
scikit-learn==0.21.2
scipy==1.3.0
six==1.12.0
soupsieve==1.9.1
spacy==2.1.4
srsly==0.0.7
thinc==7.0.4
tqdm==4.32.2
typing==3.6.6
urllib3==1.25.3
wasabi==0.2.2
Werkzeug==0.15.4
PyYAML==5.1.1
matplotlib==3.1.0
torch==1.0.0
torchvision==0.2.1
uwsgi==2.0.18
mysqlclient
pydicom==1.2.2
pynetdicom==1.4.1
